# IO.Swagger.Model.TestReport
## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**AppUploadId** | **string** |  | 
**Date** | **string** |  | 
**TestType** | **string** |  | 
**Platform** | **string** |  | 
**Stats** | [**TestReportStats**](TestReportStats.md) |  | 
**Id** | **string** |  | 
**SchemaVersion** | [**decimal?**](BigDecimal.md) |  | 
**Revision** | [**decimal?**](BigDecimal.md) |  | 
**Features** | [**List&lt;TestReportFeatures&gt;**](TestReportFeatures.md) |  | 
**FinishedDeviceSnapshots** | **List&lt;string&gt;** |  | 
**DeviceLogs** | [**List&lt;TestReportDeviceLogs&gt;**](TestReportDeviceLogs.md) |  | 
**DateFinished** | **string** |  | 
**ErrorMessage** | **string** |  | [optional] 
**SnapshotFatalErrors** | [**List&lt;TestReportSnapshotFatalErrors&gt;**](TestReportSnapshotFatalErrors.md) |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

